body {
    font-family: Arial, sans-serif;
    font-size: 1.3vw;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.container {
    width: 90%;
    margin: 2vw auto;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 2vw 0;
    background-color: #fff;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 1vw;
    text-align: center;
    border: 0.5vw solid #ddd;
}

td:nth-child(1) {
    color: #fff;
    background-color: #007bff;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

h2 {
    text-align: center;
    font-size: 2vw;
}

a {
    font-size: 3vw;
    text-align: center;
    text-decoration: none;
    color: #007bff;
}